/*
TEAMWORKER 1.0

COLOURS
*/


/*BACKGROUNDS*/

body, .grain{
    background-color:#dadada;
    background-image:url(_resources/15p-grey.jpg);
}
main{
    background-color:white;
}
.mid, .glance,  .status .icon{
    background-color:#393939;
}
.dark, .progress-bar{
    background-color:#212121;
}
.accent, ul.filters li, form#login input[type="submit"], th, .progress, .blue-square, .status .online .icon{
    background-color:#2785c7;
}
tr:nth-child(even){
    background-color:#f8f8f8;
}

/*TEXT*/

body, main{
    color:#393939;
}
em, .blue, .status .online, form.mini input[type="submit"]{
    color:#2785c7;
}
ul.filters li, form#login input[type="submit"], th, .glance, .status .icon{
    color:white;
}

/*BORDERS*/

main{
    border: 1px solid #a8aeaf;
    border-top:none;
}
input, select{
    border:1px solid #2785c7;
}
