/*
TEAMWORKER 1.0
*/

/*TOP LEVEL BLOCK STYLES*/
body{
    margin: 0;
    padding:0;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size:20px;
}
main{
    width:960px;
    height:auto;
    margin:0 auto;
}
.content {
    margin: 20px;
    overflow: auto;
}

.footer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    background: #444;
    text-align: right;
}

/*TEXT STYLES*/
h1 {
    font-weight:300;
    font-size:1.7em;
    text-transform:uppercase;
    margin: 15px 0;
}
.content h1:first-child{
    margin-top:0;
}
h2 {
    font-weight:300;
    font-size:1.3em;
    text-transform:uppercase;
    margin:15px 0;
}

.bigError {
    text-align: center;
    text-transform: none;
    margin: 100px 0 100px 0;
}

.bigError a {
    color: #2785c7;
}

.subtitle {
    color: #999;
    font-size: 1em;
    text-transform: none;
    margin: 0;
}
h3{
    font-weight: 300;
    font-size: 1.1em;
    text-transform: uppercase;
    margin:10px 0;
}
p{
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
}
a{
    text-decoration:none;
    color:inherit;
    transition: opacity 0.3s ease;
}
a:hover{
    opacity:0.8;
}

.message {
    color: red;
}

/*REUSABLE BITS*/
.button {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    /*margin: 10px 0px 10px 0px;*/
    color: #fff;
    background-color: #2785c7;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*HEADER STYLES*/
header{
    padding:20px;
}
#logo{
    display:inline-block;
}
nav{
    font-size:1.2em;
    text-transform: uppercase;
    display:inline-block;
    float:right;
}
nav ul{
    list-style:none;
    padding:0;
    margin:0;
}
nav li{
    display:inline-block;
    border-right:1px solid #393939;
    padding:0 8px;
    line-height:20px;
}
nav ul li:last-child{
    border-right:none;
}

.topNavProfile {
    background: #444;
    padding: 10px;
}

.topNavProfile a {
    color: #fff;
}

/*FORM STYLES*/
label{
    width:350px;
    font-family:inherit;
    display:inline-block;
    line-height:30px;
    vertical-align: top;
    margin:0 0 16px 0;
    text-transform: uppercase;
}
input[type="text"], input[type="date"], input[type="email"], select{
    width:560px;
    height:30px;
    appearance:none;
    box-sizing:border-box;
}
input{
    min-height:30px;
    padding:5px;
}

.half input {
    width: 100%;
}

form:not(.mini) input[type="submit"]{
    font-family:'Lato', sans-serif;
    font-size:1em;
    background-color:#2785c7;
    color:white;
    text-transform:uppercase;
    padding:15px;
    width:100%;
    box-sizing: border-box;
    margin:8px 0;
}
label.check{
    width:235px;
    font-size:0.8em;
    line-height:20px;
    margin:5px 10px 0 0;
}
div.checkbox-section{
    width:560px;
    display:inline-block;
    margin:0 0 16px 0;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"] + label{
    margin:5px 8px 0 0;
    width:20px;
    height:20px;
    overflow:hidden;
    background:url(_resources/checkbox.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label{
    background:url(_resources/checkbox.png) -20px top no-repeat;
}
input[type="file"] {
    border: none;
    padding: none;
    margin-bottom: -15px;
}
.half-dropdown, .half-input{
    display:inline-block;
    margin-right:3px;
}
.half-dropdown select, .half-input input{
    width:100px;
    display:inline-block;
}
textarea{
    width:100%;
    min-height:4em;
    box-sizing:border-box;
    resize:vertical;
    border:1px solid #2785c7;
}


/*FILTER STYLES*/
div.two{
    display:inline-block;
    vertical-align:top;
    width:49%;
    padding:0 20px;
    box-sizing:border-box;
}
ul.filters{
    list-style:none;
    display:block;
    text-transform: uppercase;
    margin:0;
    padding:0;
}
ul.filters li{
    padding:0;
    margin:10px;
    text-align: center;
    display:inline-block;
    vertical-align:center;
}
.filters ul.three li{
    width:125px;
    height:125px;
    line-height:125px;
}
.filters ul.four li{
    width:88px;
    height:88px;
    line-height:88px;
    font-size:2.2em;
}
ul.filters li span{
    display:inline-block;
    vertical-align: middle;
    line-height:normal;
}
ul.filters li:first-child{
    margin-left:0;
}
ul.filters li:last-child{
    margin-right:0;
}

/*LOGIN FORM*/

main.login {
    margin: 50px auto;
    border: 1px solid #a8aeaf;
    width: 580px;
    padding: 0;
    text-align: center;
}

.login .content {
    margin: 0;
}

form#login {
    margin: 0;
}

form#login label{
    font-size:1.3em;
}
form#login label, form#login input{
    width: 360px;
    margin:5px 0px 0 0;
    display:inline-block;
}
form#login input{
    height:30px;
    box-sizing: border-box;
    padding:3px;
}
form#login :nth-child(even){
    margin-right:0;
}
form#login input[type="submit"]{
    transition: background 400ms;
    width: 100%;
    display: block;
    /*margin: 15px auto;*/
    height:60px;
    font-family: 'Lato', sans-serif;
    font-size:1.3em;
    border: none;
    text-transform: uppercase;
}

form#login input[type="submit"]:hover {
    transition: background 400ms;
    background: #14A7FF;
}

form#login input[type="submit"]:active {
    background: #2785c7;
}

/*TABLE STYLES*/
table{
    width:100%;
    box-sizing:border-box;
    font-size:0;
    border-spacing:0;
    margin:20px 0;

}
th{
    text-transform:uppercase;
    font-weight: 300;
}
td, th{
    font-size:18px;
    padding:3px;
    margin:0;
    text-align:left;
    min-height:1em;
}

/*GROUP PAGE STYLES*/
.glance{
    width:100%;
    margin:0 0 10px 0;
    padding:10px 20px;
    font-size:20px;
    box-sizing:border-box;
}
.glance h3{
    font-size:1.2em;
    margin:10px 0;
}
.progress-bar{
    height:35px;
    width:100%;
    box-sizing:border-box;
    position:relative;
}
.progress{
    height:35px;
    width:30%;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.progress-display{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    line-height:35px;
    padding:0 10px;
    box-sizing:border-box;
}
.progress-display.left{
    text-align:left;
}
.progress-display.right{
    text-align:right;
}
.half{
    display:inline-block;
    vertical-align: top;
    width:45%;
    padding: 2%;
}
.blue-square{
    height:90px;
    width:90px;
    line-height:90px;
    display:inline-block;
}
.blue-square span{
    display:inline-block;
    vertical-align: middle;
    line-height:normal;
}
.blue-square h1{
    text-align:center;
    font-weight:900;
    margin:0;
}
h3.inline{
    display:inline-block;
    vertical-align:top;
    margin:0;
    max-width:355px;
}
h3 .blue{
    font-weight:900;
}
ul.status{
    list-style:none;
    padding:0;
    margin:20px 0;
    font-weight:900;
    text-transform: uppercase;
}
ul.status li{
    display:inline-block;
    margin:0;
    padding:0;
    text-align:center;
}
ul.status.five li{
    width:19%;
}
ul.status.four li{
    width:24%;
}
ul.status.three li{
    width:32%;
}
ul.status.two li{
    width:49%;
}
ul.status .icon{
    height:55px;
    width:55px;
    border-radius:55px;
    line-height:55px;
    margin:0 auto 10px;
    font-size:1.7em;
}
form.mini input{
    display:inline-block;
    height:30px;
    vertical-align: top;
    line-height:30px;
    max-width:412px;
}
form.mini input[type="date"]{
    width:115px;
    margin-right:10px;
}
form.mini input[type="text"].small{
    width:280px;
}
form.mini input[type="submit"]{
    background-color:white;
    font-size:1.3em;
    appearance:none;
    border:0;
    font-weight:900;
    cursor:pointer;
    padding:0 5px;
}

.scrollContainer {
    max-height: 500px;
    overflow: scroll;
}

.post {
    border: solid 1px #ccc;
    margin: 15px 0;
    padding: 15px;
    box-sizing: border-box;
}

.post a {
    color: #14A7FF;
    /*float: right;*/
}

.post h4 {
    margin: 0;
}

.post p {
    margin: 5px 0;
    text-transform: none;
}

.post .timestamp {
    color: #ccc;
}

.postTag {
    background: #2785c7;
    padding: 4px;
    color: #fff;
    font-size: 0.8;
}

/*ADMIN STYLES*/
div.bulletin{
    padding:15px;
    background-color:#ddd;
    font-size:1.3em;
}
